{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="text-center">Registration</h1>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">New User</h4>

                    <form method="POST" class="post-form">{% csrf_token %}

                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary btn-block">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}